
.container{
  width:500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  margin-top:70px;
  background-color: rgb(49, 49, 49);
  overflow-y: scroll;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container h1{
  color:orange;
  letter-spacing: 1px;
  word-spacing: 10px;
  text-transform: uppercase;
}
.header{
  display: flex;
  width: 480px;
  justify-content: space-around;
}
input,.btn{
  padding:10px 20px;
  border-radius: 5px;
  background-color: orange;
  color:white;
  font-size:18px;
  border: none;
}
button{
  cursor: pointer;
}
input::placeholder{
  color:white;
}
.task{
  width:400px;
  margin: 15px 0px;
  padding: 0px 10px;
  border:2px solid orange;
  display: flex;
  justify-content:space-between;
  height: 50px;
  align-items: center;
  border-radius: 4px;
}
.todo-list{
  margin-top:20px;
}
.list-btn button{
  margin:0px 10px;
  border:none;
  width:40px;
  height: 35px;
  border-radius:50%;
  
}
.delete-btn{
  background-color:crimson;
  color: white;
}
.edit-btn{
  background-color:yellow;
  color:black;
}
.done-btn{
  background-color:limegreen;
  color: white;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: orange; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: silver; 
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 

